
########################################

#######  Fan  ###############

#   Fan Control  ###########

#####################################################################

##  Print Cooling Fan - FAN0 - Part Cooling Fan - PCF - Cools/Blows on the Nozzle - Top Fan on the Stealth Burner - Adjustment Also on MainSail - should run at 25%
[fan]
pin: PA8
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10
max_power: 1.0


##  Hotend Fan - FAN1 - Hot End Cooling Fan - HEC - Cools/Blows on the Heat Break area - Lower/Bottom of the Stealth Burner - Should run at 100%
[heater_fan hotend_fan]
pin: PE5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 0.65

########################################



#######################################
##  Controller fan - FAN3

######################################

#[controller_fan controller_fan]
#pin: PD12
#off_below: 0.10
#kick_start_time: 0.5
#fan_speed: 0.5 
#max_power: 1.0   # Set fan power, where 1.0 is full power
#control: watermark  # This specifies the control method; "watermark" is commonly used for temperature fans
#target_temp: 48  # Fan will turn on at 40°C
#shutdown_temp: 37  # Fan will turn off when temp drops below 37°C
#max_temp: 60     # Safety limit, fan will run full power at 60°C
#min_temp: 40  # Fan will turn off when temp drops below 35°C (the minimum threshold to deactivate)

##################################

######## exhaust Fan ############

##################################

#####################################
[temperature_sensor my_thermistor]
sensor_type: Generic 3950   # Use your specific sensor type
sensor_pin: PF4             # Change this to your thermistor pin
pullup_resistor: 4700         # Adjust this value if needed

#####################################

[temperature_fan exhaust_fan]
pin: PD14                   # Pin for fan 1
max_power: 1.0               # Full power
shutdown_speed: 0            # Set to 0 to stop the fan when not needed
max_temp: 65                 # Maximum temperature for full fan speed
min_temp: 43                 # Minimum temperature for the fan to turn on
sensor_type: temperature_sensor
sensor_name: my_thermistor    # Link to the thermistor
#target_temp: 48
#control: watermark
#gcode_id: C

[temperature_fan controller_fan]
pin: PD12                   # Pin for fan 2
max_power: 1.0
shutdown_speed: 0
max_temp: 90                 # Fan 2 starts running at a higher temp
min_temp: 35
sensor_type: temperature_sensor
sensor_name: my_thermistor


#########



#######
#[temperature_fan fan3]
#pin: P2.2                   # Pin for fan 3
#max_power: 1.0
#shutdown_speed: 0
#max_temp: 100                # Fan 3 starts running at an even higher temp
#min_temp: 40
#sensor_type: temperature_sensor
#sensor_name: my_thermistor

#####################################